<h2>Edit the thing you learned</h2>

<br>

  <form action="/notes/<%= @note.id %>" method="post">

    <input type="hidden" id="hidden" name="_method" value="patch">
      
    <div class="form-group">
      <textarea name="content" class="form-control" autofocus onfocus="this.value = this.value;"><%= @note.content %> </textarea>
    </div>
    <label for="tags">Tags (optional)</label><br>
    <input type="text" id="tags" name="tags" value="<%= @tags %>">
    <br></br>
    <input type="radio" name="public" value="0" 
    <%= "checked" if @note.public == 0 %>>Private<br>
    <input type="radio" name="public" value="1" <%= 'checked' if @note.public == 1 %>>Public<br>
    <input type="submit" class="btn btn-primary" value="Submit Edit">
  </form>
