<div class="notes-title">
<% if @note.user != current_user(session) %>
      <%= @note.user.name %>'s Note
      <% else %>
      Your Note
    <% end %>
    </div>

<br>
<div class="row">
  <div class="col-sm-9">
    <h3><%= @note.content %></h3>

    <br>
<%= @note.created_at.localtime.strftime("%A %-m/%d/%g, %l:%M %P") %>
  </div>
  
  <div class="col-sm-3 sidebar">
    <h4>Tags</h4>
    <ul>
      <% if @note.tags.empty? %>
        <li>none
      <% else %>
        <% @note.tags.each do |tag| %>
          <li><a href="/tags/<%= tag.slug %>"><%= tag.word %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<% if @note.user == current_user(session) %>
  <small><i>This note is <%= @note.public == 0 ? 'private' : 'public' %></i></small>
  <br>
  <form action="/notes/<%= @note.id %>" method="post" onsubmit="return confirm('Are you sure you want to delete this note? This cannot be undone')">
    <input type="hidden" name="_method" value="delete">
    <a class="btn btn-dark" href="/notes/<%= @note.id %>/edit" role="button">Edit</a>
    <input class="btn btn-danger" type="submit" value="Delete">
  </form>
<% end %>
  <br>
  <h5><a href="/notes/my-notes"><%= My Notes</a></h5>
  <h5><a href="/notes/community-notes">Community Notes</a></h5>
