<h2><%= @note.created_at.to_date.strftime("%A, %B %d, %Y") %></h2>

<br>

<h3><%= @note.content %></h3>

<br>

<h4>Tags:</h4>
<ul>
<% @note.tags.each do |tag| %>
  <li><%= tag.word %></li>
<% end %>

</br>

This note is <%= @note.public == 0 ? 'private' : 'public' %>

<br>
<% if @note.user == current_user(session) %>
  <a class="btn btn-dark" href="/notes/<%= @note.id %>/edit" role="button">   Edit  </a>

  <form action="/notes/<%= @note.id %>" method="post" onsubmit="confirm('Are you sure you want to delete this note?')">
    <input type="hidden" name="_method" value="delete">
    <input class="btn btn-danger" type="submit" value="Delete">
  </form>
<% end %>