<h2>Hello <%= current_user(session).name %>!</h2>

<h4 class="small-right"><a href="/notes/new">Add note</a></h4>

<br>

<h4>My notes</h4>
<div class="note-list">
  <ul class="list-group">
  <% @my_notes.reverse.take(5).each do |note| %>
    <li class="list-group-item">  <%= note.created_at.localtime.strftime("%A, %B %d, %Y") %>:   <a href="/notes/<%= note.id %>"><%= note.content %></a>
  <% end %>
  </ul>
</div>

<br>
<h4>Other notes</h4>
<div class="note-list">
  <ul class="list-group">
  <% @public_notes.reverse.take(5).each do |note| %>
    <li class="list-group-item">  <%= note.created_at.localtime.strftime("%A, %B %d, %Y") %>:  <a href="/notes/<%= note.id %>"><%= note.content %></a>
  <% end %>
  </ul>
</div>

<br>
<h4>My recent tags</h4>
<div class="tag-list">
  <ul>
  <% @tags.take(10).reverse.each do |tag| %>
    <li><a href="/tags/<%= tag.slug %>"><%= tag.word %></a>
  <% end %>
  </ul>
</div>

<br>

<a href="/edit">Edit Profile</a><br>
<a href="/logout">Log Out</a><br>
