<h2>Hello <%= current_user(session).name %>!</h2>

<br>

<h4>My Notes</h4>
<div class="note-list">
  <ul>
  <% @my_notes.each do |note| %>
    <li> <%= note.created_at.strftime("%A, %B %d, %Y") %>: <a href="/notes/<%= note.id %>"> <%= note.content %> </a>
  <% end %>
  </ul>
</div>

<br>
<h4>Other People's Notes</h4>
<div class="note-list">
  <ul>
  <% @public_notes.each do |note| %>
    <li> <%= note.content %>
  <% end %>
  </ul>
</div>

<br>
<h4>My tags</h4>
<div class="tag-list">
  <ul>
  <% @tags.each do |tag| %>
    <li><%= tag %>
  <% end %>
  </ul>
</div>
