<h2 class="section-fancy-font">Hello <%= current_user(session).name %>!</h2>

<h4 class="small-right"><a href="/notes/new">Add Note</a></h4>

<br>

<h4 class="section-fancy-font">My Notes</h4>
<div class="note-list">
  <ul class="list-group">
  <% @my_notes.each do |note| %>
    <li class="list-group-item">  <%= note.created_at.localtime.strftime("%A, %B %d, %Y") %>:   <a href="/notes/<%= note.id %>"><%= note.content %></a>
  <% end %>
  </ul>
</div>

<br>
<h4 class="section-fancy-font">More Notes</h4>
<div class="note-list">
  <ul class="list-group">
  <% @public_notes.each do |note| %>
    <li class="list-group-item">  <%= note.created_at.localtime.strftime("%A, %B %d, %Y") %>:  <%= note.content %> by <%= note.user.name %>
  <% end %>
  </ul>
</div>

<br>
<h4 class="section-fancy-font">My tags</h4>
<div class="tag-list">
  <ul>
  <% @tags.each do |tag| %>
    <li><a href="/tags/<%= tag.slug %>"><%= tag.word %></a>
  <% end %>
  </ul>
</div>

<br>

<a href="/edit">Edit Profile</a><br>
<a href="/logout">Log Out</a><br>
