<h2>#<%= @tag.word %></h2>

<br>

<% if !@user_notes.empty? %>
  <h4>My notes</h4>
  <ul class="list-group">
  <% @user_notes.each do |note| %>
    <li class="list-group-item"><%= note.created_at.localtime.strftime("%A, %B %d, %Y") %>:   <a href="/notes/<%= note.id %>"><%= note.content %></a>
  <% end %>
  </ul>
  <br>
<% end%>

<% if !@community_notes.empty? %>
  <h4>Community notes</h4>
  <ul class="list-group">
  <% @community_notes.each do |note| %>
    <li class="list-group-item"><%= note.created_at.localtime.strftime("%A, %B %d, %Y") %>:   <a href="/notes/<%= note.id %>"><%= note.content %></a> &ndash; <i><%= note.user.name %></i>
  <% end %>
  </ul>
  <br>
<% end %>

<a href="/index">Back to main page</a>