<h2 class="notes-title">#<%= @tag.word %></h2>

<% if !@user_notes.empty? %>
  <h4>My notes</h4>
  <ul class="list-group">
    <% @user_notes.each do |note| %>
      <li class="list-group-item" style="line-height: 0.6">
        <h6><a href="/notes/<%= note.id %>"><%= note.content %></a></h6><br>
        <small class="grey"><%= note.created_at.localtime.strftime("%A %-m/%d/%y") %></small>
    <% end %>
  </ul>
  <br>
<% end%>

<% if !@community_notes.empty? %>
  <h4>Community notes</h4>
  <ul class="list-group">
    <% @community_notes.each do |note| %>
    <li class="list-group-item" style="line-height: 0.6">
      <h6><a href="/notes/<%= note.id %>"><%= note.content %></a><br></h6>
        <small class="grey"><%= note.created_at.localtime.strftime("%A %-m/%d/%y") %></small><i> <%= note.user.name %></i>
    <% end %>
  </ul>
  <br>
<% end %>

<h5><a href="/notes/my-notes">My Notes</a></h5>
<h5><a href="/notes/community-notes">Community Notes</a></h5>
<br>
<a href="/edit-profile">Edit profile (<%= current_user(session).name %>)</a><br>
<a href="/logout">Log out</a>
